.Calc {
  margin: auto;
  display: flex;
  width: 15em;
  height: 26em;
  outline: black solid 2px;
}
.row {
  background-color: black;
  display: flex;
  width: 20em;
  justify-content: flex-end;
}
#display-container{
  background-color: #000;
  color: white;
}
button {
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 2em 2em;
  text-decoration: none;
  font-size: 0.8em;
  flex-basis: auto;
  flex-grow: 1;
}
.operator {
  background-color: grey;
}
